# IntelliJ IDEA / PyCharm
.idea
*.iml

# Python
__pycache__
*.pyc
/oozie-to-airflow/oozie-to-airflow.iml

.coverage

.mypy_cache
output
.DATAPROC_CLUSTER_NAME
.GCP_REGION
.PHASE
.COMPOSER_LOCATION
.LOCAL_APP_NAME
.COMPOSER_DAG_BUCKET
.COMPOSER_NAME
