apache-airflow>=2.0.0 # pyup: ignore
autoflake==1.4
black==23.1a1
flake8==3.8.4
google-api-python-client==1.12.11
isort==5.7.0
j2cli==0.3.10
Jinja2==3.1.2 # pyup: ignore
lark-parser==0.11.1
mypy==1.0.0
parameterized==0.7.5
paramiko==3.1.0
pre-commit==3.3.1
pydeps==1.9.13
pylint==2.6.0
pytest==7.3.1
pytest-cov==4.0.0
safety==1.10.3
sshtunnel==0.4.0
twine==4.0.2
tzlocal==5.0 # pyup: ignore
Werkzeug==3.0.1 # pyup: ignore
yamllint==1.31.0
