apache-airflow==1.10.2 # pyup: ignore
autoflake==1.3
black==19.3b0
flake8==3.7.8
google-api-python-client==1.7.9
isort==4.3.21
j2cli==0.3.10
Jinja2==2.10.0 # pyup: ignore
lark-parser==0.7.1
mypy==0.720
parameterized==0.7.0
paramiko==2.6.0
pre-commit==1.17.0
pydeps==1.7.3
pylint==2.3.1
pytest==5.0.1
pytest-cov==2.7.1
safety==1.8.5
sshtunnel==0.1.5
twine==1.13.0
tzlocal==1.5.1 # pyup: ignore
Werkzeug==0.14.1 # pyup: ignore
yamllint==1.16.0
