# config variables
AIRFLOW_HOME=/home/airflow
AIRFLOW_VERSION=${AIRFLOW_VERSION}

AIRFLOW__CORE__SQL_ALCHEMY_CONN="postgresql+psycopg2://{{ postgresql.airflow_user }}:{{ postgresql.airflow_password }}@127.0.0.1/airflow"
AIRFLOW__CELERY__BROKER_URL="amqp://{{ rabbitmq.airflow_user }}:{{ rabbitmq.airflow_password }}@127.0.0.1:5672/"
AIRFLOW__CORE__EXECUTOR="CeleryExecutor"
AIRFLOW__CELERY__RESULT_BACKEND="db+postgresql://airflow_scheduler:{{ postgresql.airflow_password }}@127.0.0.1/airflow_celery_db"
AIRFLOW__OPERATORS__DEFAULT_QUEUE={{ airflow.airflow_queue }}
AIRFLOW__CORE__FERNET_KEY={{ airflow.airflow_fernet_key }}
AIRFLOW__CORE__LOAD_EXAMPLES={{ airflow.airflow_load_examples }}

PATH=\$PATH:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin